In [464]:
import numpy
import collections
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [465]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
277,tt1182345,5000000,9760104,Moon,Sam Rockwell|Kevin Spacey|Dominique McElligott...,Duncan Jones,The last place you'd ever expect to find yours...,With only three weeks left in his three year c...,97,Science Fiction|Drama,Liberty Films UK|Lunar Industries|Xingu Films|...,6/12/2009,7.4,2009
834,tt1334512,40000000,45735397,Arthur,Russell Brand|Helen Mirren|Greta Gerwig|Jennif...,Jason Winer,Meet the world's only loveable billionaire.,A drunken playboy stands to lose a wealthy inh...,110,Comedy|Romance,Warner Bros.,4/8/2011,5.3,2011
179,tt1791528,20000000,11110975,Inherent Vice,Joaquin Phoenix|Josh Brolin|Owen Wilson|Kather...,Paul Thomas Anderson,"Under the paving stones, the beach!","In Los Angeles at the turn of the 1970s, drug-...",148,Comedy|Romance|Crime|Drama|Mystery,Ghoulardi Film Company|Warner Bros.,12/25/2014,6.3,2014
185,tt2203939,40000000,196781193,The Other Woman,Cameron Diaz|Leslie Mann|Kate Upton|Don Johnso...,Nick Cassavetes,The oddest friends are about to get even,"After discovering her boyfriend is married, Ca...",109,Comedy|Romance,Twentieth Century Fox Film Corporation|LBI Pro...,4/16/2014,6.2,2014
399,tt0892791,165000000,752600867,Shrek Forever After,Mike Myers|Eddie Murphy|Cameron Diaz|Antonio B...,Mike Mitchell,It ain't Ogre... Til it's Ogre,A bored and domesticated Shrek pacts with deal...,93,Comedy|Adventure|Fantasy|Animation|Family,DreamWorks Animation,5/16/2010,6.0,2010

In [466]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [467]:
answers = {} # создадим словарь для ответов
data = pd.read_csv('movie_bd_v5.csv')
profit = data.revenue - data.budget # profit calculation
data['profit'] = profit # add column

# тут другие ваши предобработки колонок например:
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [468]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)'# + 
# если ответили верно, можете добавить комментарий со значком "+"

In [469]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

ВАРИАНТ 2

In [470]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [471]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '4. Gods and Generals (tt0279111)'

In [472]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [473]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [474]:
answers['4'] = '4. 110'
round(numpy.mean(data.runtime))

110

# 5. Каково медианное значение длительности фильмов?

In [475]:
answers['5'] = '1. 107'
round(numpy.median(data.runtime))

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [476]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [477]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [478]:
answers['8'] = '1. 1478'
len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [479]:
answers['9'] = '4. The Dark Knight (tt0468569))'
data[data['revenue'] == data[(data.release_year==2008)].revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [480]:
answers['10'] = '5. The Lone Ranger (tt1210819))'
data[(data.release_year >= 2012) & (data.release_year <= 2014)].sort_values('profit').head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [481]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '4.Drama'
data11=pd.read_csv('movie_bd_v5.csv')
data11['genres'] = data11['genres'].apply(lambda x:x.split('|'))
data11=data11.explode('genres')
data11.genres.value_counts().head(1)

Drama    782
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [482]:
answers['12'] = '1. Drama'
sort = data[data.profit > 0]
collections.Counter(data.genres.str.cat(sep = '|').split('|')).most_common(1)

[('Drama', 782)]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [483]:
answers['13'] = '5. Peter Jackson'
data13 = pd.read_csv('movie_bd_v5.csv')
profit = data13.revenue - data13.budget # profit calculation
data13['profit'] = profit # add column
data13.director = data13.director.apply(lambda x: x.split('|'))
data_13 = data13.explode('director')
data_13.groupby(['director'])['profit'].sum().sort_values(ascending = False).head(1)

director
Peter Jackson    5202593685
Name: profit, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [484]:
answers['14'] = '3. Robert Rodriguez'
data14 = pd.read_csv('movie_bd_v5.csv')
data_14 = data14[data14.genres.str.contains('Action')]
collections.Counter(data_14['director'].str.cat(sep = '|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [485]:
answers['15'] = '3. Chris Hemsworth'
data15=pd.read_csv('movie_bd_v5.csv')
#results
data15 = data15[data15['release_year'] == 2012]
data15['cast'] = data15['cast'].apply(lambda x:x.split('|'))
data15=data15.explode('cast')
data15.groupby('cast')['revenue'].sum().sort_values(ascending=False).head(1)

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [486]:
answers['16'] = '3. Matt Damon'
data16 = pd.read_csv('movie_bd_v5.csv')
data16['cast'] = data16['cast'].apply(lambda x: x.split('|'))
data_director=data16.explode('cast')
data_director.loc[data_director['budget'] > data_director['budget'].mean()]['cast'].value_counts(ascending=False).head(1)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [500]:
answers['17'] = '2. Action'
data17 = pd.read_csv('movie_bd_v5.csv')
data_17 = data17[data17.cast.str.contains('Nicolas Cage')]
collections.Counter(data_17['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [488]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
data18 = pd.read_csv('movie_bd_v5.csv')
profit = data18.revenue - data18.budget # profit calculation
data18['profit'] = profit # add column
data18 = data18[data18.production_companies.str.contains('Paramount Pictures')]
data18 = data18.sort_values('profit', ascending=False)
data18.tail(1).min()

imdb_id                                                         tt0267626
budget                                                          100000000
revenue                                                          35168966
original_title                                       K-19: The Widowmaker
cast                    Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...
director                                                  Kathryn Bigelow
tagline                                          Fate has found its hero.
overview                When Russia's first nuclear submarine malfunct...
runtime                                                               138
genres                                             Thriller|Drama|History
production_companies    Paramount Pictures|Intermedia Films|National G...
release_date                                                    7/19/2002
vote_average                                                            6
release_year                                                         2002
profit                                                          -64831034
dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [489]:
answers['19'] = '5. 2015'
data19=pd.read_csv('movie_bd_v5.csv')
data19['release_date'] = data19['release_date'].apply(lambda x: x.split('/'))
data19['year'] = data19['release_date'].apply(lambda x: x[2])
data19.groupby(['year'])['revenue'].sum().sort_values(ascending = False).head(1)

year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [490]:
answers['20'] = '1. 2014'
data20=pd.read_csv('movie_bd_v5.csv')
profit = data20.revenue - data20.budget # profit calculation
data20['profit'] = profit # add column
#results
data20_2 = data20[data20['production_companies'].str.contains('Warner Bros')]
data20_2.groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [491]:
answers['21'] = '4. Сентябрь'
data21 = pd.read_csv('movie_bd_v5.csv')
data21['release_date'] = data21['release_date'].apply(lambda x: x.split('/'))
data21['month'] = data21['release_date'].apply(lambda x: x[0])
data21.month.value_counts().head(1)

9    227
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [492]:
answers['22'] = '2. 450'
data22 = pd.read_csv('movie_bd_v5.csv')
data22.release_date = data22.release_date.apply(lambda x: x.split('/'))
data22['month'] = data22['release_date'].apply(lambda x: x[0])
pivot = data23.loc[data22['month'].isin(['6','7','8'])]
pivot['original_title'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [493]:
answers['23'] = '5. Peter Jackson'
data23 = pd.read_csv('movie_bd_v5.csv')
data23['director'] = data23['director'].apply(lambda x:x.split('|'))
data23.release_date = data23.release_date.apply(lambda x: x.split('/'))
data23['month'] = data23['release_date'].apply(lambda x: x[0])
pivot = data23.loc[data23['month'].isin(['12','1','2'])]
pivot['director'].value_counts().head(1)

[Peter Jackson]    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [494]:
answers['24'] = '5. Four By Two Productions'
data24 = pd.read_csv('movie_bd_v5.csv')
data24['name_length'] = data24.original_title.apply(lambda x: len(x))
data24['production_companies'] = data24.production_companies.str.split("|")
production_companies_df = data24.explode('production_companies')
production_companies_df.groupby('production_companies').name_length.mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [495]:
answers['25'] = '3. Midnight Picture Show'
data25 = pd.read_csv('movie_bd_v5.csv')
data25['total_words'] = data26.overview.apply(lambda x: len(x.split(' ')))
data25['production_companies_list'] = data25['production_companies'].str.split('|')
data25_2 = data25.explode('production_companies_list')
data25_2.groupby(['production_companies_list'])['total_words'].mean().sort_values().tail(1)

production_companies_list
Midnight Picture Show    175.0
Name: total_words, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [496]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
data26 = pd.read_csv('movie_bd_v5.csv')
one_percent = data26.sort_values(by='vote_average').tail(int(data26.original_title.count()/100)).original_title
one_percent.tolist()

['The Theory of Everything',
 'The Lord of the Rings: The Two Towers',
 'There Will Be Blood',
 'Mr. Nobody',
 '12 Years a Slave',
 'The Pianist',
 'Gone Girl',
 'Memento',
 'Guardians of the Galaxy',
 'Inception',
 'The Wolf of Wall Street',
 'The Grand Budapest Hotel',
 'The Lord of the Rings: The Return of the King',
 'Room',
 'Interstellar',
 'Inside Out',
 'The Imitation Game',
 'The Dark Knight']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [497]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
data27=pd.read_csv('movie_bd_v5.csv')
data27['cast'] = data27['cast'].str.split('|')
data_p = data27['cast'].reset_index()
data_p['couple'] = data_p['cast'].apply(lambda s: list(itertools.combinations(s, 2)))
data_p = data_p.explode('couple').reset_index()
collections.Counter(data_p['couple']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [498]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '4. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '4. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569))',
 '10': '5. The Lone Ranger (tt1210819))',
 '11': '4.Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [499]:
# и убедиться что ни чего не пропустил)
len(answers)

27